doctype html 
html 
    head 
        title Hello World 
    
    body 
        h1 Hello world
        h2 This is it for me 
        p.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem unde, officia laborum adipisci necessitatibus voluptas maiores culpa facilis cumque dolor facere soluta doloribus iste maxime quo ad deserunt eaque numquam.